In [ ]:
NIKUNJ DEEP UPADHYAY
25070123081
EXP8 STUDY OF FOR LOOPS IN PYTHON
# FOR LOOP IS USED TO REPEAT A BLOCK OF CODE FOR EACH ELEMENT IN A SEQUENCE (LIKE RANGE,SEQUENCE)

In [1]:
# PRINT NUMBERS FROM 1 TO 5.
for i in range(1,6):
  print(i)

1
2
3
4
5

In [2]:
# EVEN NUMBERS BETWEEN 1 TO 10.
for i in range(2,11):
  if i%2==0:
    print(i)

2
4
6
8
10

In [6]:
# SUM OF FIRST N NATURAL NUMBERS.
c=0
n=int(input("enter the number"))
for i in range(1,n+1):
  c+=i
print(c)

enter the number5
15

In [7]:
# WRITE A PYTHON PROGRAM TO PRINT MATRIX.
A=[[2,5,7],
  [4,8,9],
  [1,3,6]]
for i in range(3):
  for j in range(3):
    print(A[i][j],end=" ")
  print()

2 5 7
4 8 9
1 3 6

In [8]:
A=[[2,5,7],
  [4,8,9],
  [1,3,6]]
for row in A:
  print(row)

[2, 5, 7]
[4, 8, 9]
[1, 3, 6]

In [10]:
A=[[1,2,3],
  [4,5,6],
  [1,2,1]]

B=[[1,1,1],
   [6,5,4],
   [3,2,1]]

result =[[0,0,0],
        [0,0,0],
        [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j]+=A[i][k]*B[k][j]

for row in result:
  print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [13]:
d1=1
d2=2
d3=3
d=[d1,d2,d3]
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):

        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [15]:
# write a python program to make right angle triangle using for loop in python.

for i in range(0,5,1):
  print("*" * i)

*
**
***
****

In [23]:
rows = 5
for i in range(1,rows + 1):
  print(" " * (rows -i) + "$ " * i)

    $
   $ $
  $ $ $
 $ $ $ $
$ $ $ $ $

In [24]:
# PRINT ALL PRIME NUMBERS IN RANGE
for num in range(2,50):
  for i in range(2,num):
    if num%i==0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47